*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(171, 183, 223);
    text-align: center;
    color: #211e41;
    margin: 10px;
}

video {
    width: 30vw;
    background: rgb(34, 27, 49);
    aspect-ratio: 4/3;
    margin: 2rem;
    
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation *{
    margin: 5px;
}